<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>军品行-提交订单</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(function(){
            total1 = 0;//商品总个数
            total2 = 0;//商品总金额
            $('.col07').each(function(){
                count = parseInt($(this).prev().text());
                price = parseInt($(this).prev().prev().text());
                total = count*price;
                $(this).text(total.toFixed(2)+'元');
                total1 = total1+count;
                total2+=total;
            });
            $('#total1').text(total1);
            $('#total2').text(total2.toFixed(2)+'元');
            $('#total3').text((total2+10).toFixed(2)+'元');
            tprice = (total2+10).toFixed(2);



            var cids = $(".goods_list_td>.col01").text();
{#            cids = cids.split(' ');#}
{#            console.log(cids);#}
			$.post("/order/orderhander/",
            {'price':tprice,'cids':cids},
            function (data) {
            if(data.status == "success"){

            }else if(data.status=="false"){
                alert('错误')
            }
            }
            );

        });
    </script>
</head>
<body>

	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到军品行!</div>
			<div class="fr">
				<div class="login_btn fl">
                    {% if uname %}
                        <span class="denglu" name="login">欢迎您：{{ uname }}</span>
                        <a href="/user/sign_out/">退出</a>
                    {% else %}
                        <a href="/user/login/">登录</a>
                    {% endif %}
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/user_center_info/">用户中心</a>
					<span>|</span>
					<a href="/shoppingCar/">我的购物车</a>
					<span>|</span>
					<a href="/order/orderinfo/">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/tig.jpg"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>
	
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
            {% for user in users %}
			<dd><input type="radio" name="address" checked="">{{ user.uaddress }}（{{ user.ushou }}收）{{ user.uphone }}</dd>
            {% endfor %}
		</dl>
		<a href="/user/user_center_side/" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
            <input type="radio" name="pay_style" checked>
			<label class="zhifubao"></label>
            <input type="radio" name="pay_style">
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
        {% for car in cars %}
		<ul class="goods_list_td clearfix">
			<li class="col01"> {{ car.id }}</li>
			<li class="col02"><img src="/static/{{ car.goods.gpic }}"></li>
			<li class="col03" id="goodsname">{{ car.goods.gtitle }}</li>
			<li class="col04">{{ car.goods.gunit }}</li>
			<li class="col055">{{ car.goods.gprice }}</li>
			<li class="col06">{{ car.count }}</li>
			<li class="col07"></li>
		</ul>
        {% endfor %}

	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em id="total1"></em>件商品，总金额<b id="total2"></b></div>
			<div class="transit">运费：<b>10元</b></div>
			<div class="total_pay">实付款：<b id="total3"></b></div>

		</div>
	</div>
{#    <form action="/order/orderinfo/" method="post">#}
{#        <input type="hidden" value="" id="price" name="price">#}
{#    </form>#}
	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">提交订单</a>
	</div>	

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京军品行有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		$('#order_btn').click(function() {
			localStorage.setItem('order_finish',2);

			$('.popup_con').fadeIn('fast', function() {

				setTimeout(function(){
					$('.popup_con').fadeOut('fast',function(){
						window.location.href = '/pay/buy/';
					});	
				},3000)
				
			});
{#            $(function(){#}
{#            total1 = 0;//商品总个数#}
{#            total2 = 0;//商品总金额#}
{#            $('.col07').each(function(){#}
{#                count = parseInt($(this).prev().text());#}
{#                console.log(count);#}
{#                price = parseInt($(this).prev().prev().text());#}
{#                console.log(price);#}
{#                total = count*price;#}
{#                console.log(total);#}
{#                total1++;#}
{#                total2+=total;#}
{#            });#}
{#            tprice = (total2+10).toFixed(2);#}
{#            console.log(tprice);#}
{#			$.post("/pay/buy/",#}
{#            {'price':tprice},#}
{#            function (data) {#}
{#            if(data.status == "success"){#}
{##}
{#            }else{#}
{#            }#}
{#            }#}
{#        );#}
{##}
{#		});#}
        });
	</script>
</body>
</html>